body {
  margin: 0;
  background-color: #e4e4e4;
  font-family: monospace;
}

main {
  margin: auto;
  width: 70vw;
}

header {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #888;
  margin-bottom: 1.2rem;
}

button {
  background: #bbbbbb;
  font-family: monospace;
}

.playGrid button {
  height: 50px;
  width: 50px;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
}

.playGrid button:focus {
  outline: solid 1px #666666;
}
